html, body{
	padding: 0px;
	margin: 0px;
}

#top{
	width: 100vw;
	height: 100vh;
}
.circle{
	position: absolute;
	margin-left: 50vw;
	height: 90vh
}
.topname{
	padding-top: 20vh;
	padding-left: 8vw;
	padding-right: 8vw;
}
h1{
	margin: 0px;
	font-size: 3em;
	color: #222;
}
h2{
	margin: 0 auto 8vh;
	padding: 2vh;
	color: #4D4D4D;
	text-align: center;
	width: 400px;
}
h3{
	color: #444;
	font-size: medium;
}
ul{
	padding: 0;
	position: absolute;
	bottom: 10vh;
}
li{
	float: left;
	list-style: none;
	margin-right: 1em;

}
.slash:after {
	content: "ã€€/";
	color: #666
}
li a{
	color: #444;
	text-decoration: none;
	transition: color 0.3s;
}
li a:hover{
	color: #aaa;
}
.bezier{
	position: absolute;
	left: 0;
	bottom: 0;
}

#works{
	background-color: #D3D2D6;
	margin-top: -1px;
}
a.ghost{
  display: inline-block;
  width: 150px;
  margin: 45px 40px 40px;
  padding: 15px 10px;
  border: 1px solid #fff;
  border-radius: 3px;
  background: transparent;
  color: #fff;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  transition: .3s;
}
a.ghost:hover {
	border: 1px solid rgba(0,0,0,.1);
	background: rgba(0,0,0,.5); 
}
.ghostbox{
	float: inherit;
	text-align: center;
	padding-bottom: 6vh;
}
.container{
	margin: auto;
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
	width: 90%;
}
a.box{
	margin: 25px;
}

#about{
	margin-bottom: 0vh;
}
.profile{
	width: 530px;
	margin: 6vh auto;
	display: flex;
	justify-content: center;
}
.a-sya{
	padding-right: 15px;
}
.syoukai{
	width: 250px;
	padding-left: 15px;
}
p{
	margin: 0px;
	font-size: 0.8em;
}
p.name{
	font-size: 1em;
}
p.syussin, p.sentence{
	color: #333;
}

#skill{
	margin-bottom: 15vh;
}
.icons{
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
	width: 100%;
}
.icons img{
	margin: 20px;
}

#contact{
	margin-bottom: 25vh;
}
.social{
	margin: 4vh 0 0 0;
	width: 100%;
	text-align: center;
}

.works{
	padding-top: 10vh;
}
.notworks{
	padding-top: 25vh;
}