html, body{
	padding: 0px;
	margin: 0px;
	overflow-x : hidden;
	overflow-y : auto;
}

#top{
	height: 100vh;
	opacity: 0;
    -webkit-animation: huwatto 1s ease 0.3s 1 forwards;
    animation: huwatto 1s ease 0.3s 1 forwards;
}
@keyframes huwatto {
  100% {
    opacity: 1;
  }
}
.circle{
	position: absolute;
	margin-left: 50vw;
	margin-top: -20vh;
	height: 110vh;
}
.topname{
	padding-top: 20vh;
	padding-left: 8vw;
	padding-right: 8vw;
}
h1{
	margin: 0px;
	font-size: 4em;
	color: #222;
}
h2{
	font-size: 2em;
	margin: 0 auto 8vh;
	padding: 2vh;
	color: #4D4D4D;
	text-align: center;
	width: 400px;
}
h3{
	color: #444;
	font-size: 1.5em;
}
ul{
	padding: 0px;
	position: absolute;
	bottom: 15vh;
	margin: 0px;
}
li{
	font-size: 1.2em;
	float: left;
	list-style: none;
	margin-right: 1em;

}
.slash:after {
	content: "/";
	color: #666;
	margin-left: 1em;
}
li a{
	color: #444;
	text-decoration: none;
	transition: color 0.3s;
}
li a:hover{
	color: #aaa;
}


#works{
	background-color: #D3D2D6;
	margin-top: -5vh;
	margin-bottom: 10vh;
}
a.ghost{
  font-size: 1.2em;
  display: inline-block;
  width: 10em;
  padding: 1.2em 10px;
  border: 1px solid #fff;
  border-radius: 3px;
  background: transparent;
  color: #fff;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  transition: .3s;
  box-shadow: rgba(0,0,0,0.1) 0px 1px 5px;
}
a.ghost:hover {
	border: 1px solid rgba(0,0,0,.1);
	background: rgba(0,0,0,.5); 
}
.ghostbox{
	float: inherit;
	text-align: center;
	padding: 15vh 0;
}
.container{
	margin: auto;
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
	width: 90%;
}
a.box{
	display: none;
	margin: 25px;
}

#about{
	margin-bottom: 20vh;
	padding-bottom: 10;
}
.profile{
	width: 60vw;
	min-width: 530px;
	margin: 6vh auto;
	display: flex;
	justify-content: center;
}
.a-sya{
	padding-right: 2vw;
}
.a-sya img{
	width: 25vw;
	min-width: 250px;
}
.syoukai{
	font-size: 1.2em;
	width: 25vw;
	min-width: 250px;
	padding-left: 2vw;
	text-align: justify;
}
@media (max-width:530px){
	.profile{
		min-width: 250px;
		width: 250px;
		flex-direction: column;
	}
	.a-sya{
		padding: 0;
	}
	.syoukai{
		padding: 2em 0 0 0;
	}
}

p{
	margin: 0px;
	font-size: 0.8em;
	line-height: 1.5em;
}
p.name{
	font-size: 1.2em;
}
p.syussin, p.sentence{
	color: #333;
}

#skill{
	margin-bottom: 15vh;
}
.icons{
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
	width: 75%;
	margin: auto;
}
.icons img{
	margin: 20px;
}

#contact{
	margin-bottom: 25vh;
}
.social{
	margin: 4vh 0 0 0;
	width: 100%;
	text-align: center;
}
.social p{
	font-size: 1em;
}

.works{
	padding-top: 10vh;
}
.notworks{
	margin-top: 15vh;
	padding-top: 10vh;
}
