html, body{
	padding: 0px;
	margin: 0px;
	font-family: "Hiragino Kaku Gothic Pro", Verdana, Arial, Helvetica, "ヒラギノ角ゴ Pro W3", "Osaka", "ＭＳ Ｐゴシック", sans-serif;
}

h1{
	color: #4D4D4D;
	text-align: center;
	margin: 6vh auto;
	padding: 2vh 0;
}
#sortArea{
	width: 1084px;
	margin: auto;
}
.container{
	margin-top: 50px;
	width: 100%;
	margin: auto;
	left: -64px;
}
.box{
	margin: 50px;
}

.active {
    text-decoration: line-through;
}
ul {
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
	overflow: hidden;
	list-style: none;
	margin-bottom: 5em;
	justify-content: center;
}
li {
	margin-right: 2em;
	float: left;
	cursor: pointer;
}
li:hover{
	opacity: 0.7;
}
li:before {
	content: '';
	width: 16px;
	height: 16px;
	display: inline-block;
	position: relative;
	margin-right: 0.3em;
	top: 0.05em;
}
.box:before {
	content: '';
	width: 28px;
	height: 16px;
	display: inline-block;
	position: relative;
	left: 28px;
	top: -184px;
}
.all:before{
	background: #444;
}
.programing:before{
	background: #FF1D25;
}
.graphic:before{
	background: #7AC943;
}
.web:before{
	background: #3FA9F5;
}
.drawing:before{
	background: #FF931E;
}
.threed:before{
	background: #FF7BAC;
}
.report:before{
	background: #BDCCD4;
}

a.ghost{
  display: inline-block;
  width: 10em;
  padding: 1.2em 10px;
  border: 1px solid #9db5c1;
  border-radius: 3px;
  background: transparent;
  color: #9db5c1;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  transition: .3s;
}
a.ghost:hover {
	border: 1px solid rgba(90,96,99,.5);
	color: rgba(90,96,99,.5); 
}
.ghostbox{
	float: inherit;
	text-align: center;
	padding-bottom: 6vh;
	margin: 15vh auto 10vh auto;
}

@media screen and (min-width: 710px) and (max-width: 1084px) {
	#sortArea{
		width: 710px;
	}
	.container{
		left: -44px;
	}
	ul{
		margin-bottom: 4em;
		flex-wrap: wrap;
		justify-content: flex-start;
		padding-left: 12px;
	}
	li{
		margin: 0.5em 1em;
	}
}
@media screen and (max-width: 710px) {
	#sortArea{
		width: 360px;
	}
	.container{
		left: -22px;
	}
	.box:before {
		left: 0px;
		top: 22px;
	}
	ul{
		margin-bottom: 3em;
		flex-wrap: wrap;
		padding-left: 12px;
		justify-content: flex-start;;;;
	}
	li{
		margin: 0.5em 1em;
	}
	h1, .ghostbox{
		width: 360px;
	}
}


