html, body{
	padding: 0px;
	margin: 0px;
}

h1{
	margin: 6vh auto;
	padding: 2vh;
	color: #4D4D4D;
	text-align: center;
	width: 400px;
}
#sortArea{
	margin: auto;
	width: 1084px;
}
.container{
	margin: auto;
	margin-top: 50px;
	left: -64px;
	width: 100%;
}
.box{
	margin: 50px;
}

.active {
	
}
ul {
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
	justify-content: center;
	overflow: hidden;
	list-style: none;
}
li {
	margin-right: 2em;
	float: left;
	cursor: pointer;
}
li:hover{
	opacity: 0.7;
}
li:before {
	content: '';
	width: 16px;
	height: 16px;
	display: inline-block;
	position: relative;
	margin-right: 0.3em;
	top: 0.05em;
}
.box:before {
	content: '';
	width: 28px;
	height: 16px;
	display: inline-block;
	position: relative;
	left: 28px;
	top: -184px;
}
.all:before{
	background: #444;
}
.programing:before{
	background: #FF931E;
}
.graphic:before{
	background: #7AC943;
}
.web:before{
	background: #3FA9F5;
}
.drawing:before{
	background: #FF1D25;
}
.threed:before{
	background: #FF7BAC;
}
.report:before{
	background: #BDCCD4;
}

a.ghost{
  display: inline-block;
  width: 10em;
  padding: 1.2em 10px;
  border: 1px solid #BDCCD4;
  border-radius: 3px;
  background: transparent;
  color: #BDCCD4;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  transition: .3s;
}
a.ghost:hover {
	border: 1px solid rgba(90,96,99,.5);
	color: rgba(90,96,99,.5); 
}
.ghostbox{
	margin: 15vh 0 10vh 0;
	float: inherit;
	text-align: center;
	padding-bottom: 6vh;
}